html,
body {
   margin:0;
   padding:0;
   height:100%;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    background-color: white;
    float: right;
}
li {
    float: left;
}
li a {
    display: block;
    color: orange;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.intro {
  height: 450px;
  display: inline-block;
  width: 100%;
  background-image: url("http://i.imgur.com/4OAFzmZ.jpg?1");
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 0;
}
.intro-copy {
  width: 40%;
  height: 450px;
    background-color: white;
      display: inline-block;
        margin-bottom: 0;
        padding-bottom: 0;
}
.intro-img {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.why {
  display: block;
  height: 400px;
  background-color: #b4e3f8;
  background-image: url("http://i.imgur.com/v5O0ajV.jpg");
  background-position: center;
  background-repeat: no-repeat;
   background-origin: content-box;
  width: 100%;
  margin: 0px;
}
.map {
  width: 100%;
}
.features {
  height: 300px;
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
img {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.headline-chaaty {
  font-weight: 600;
  font-size: 28px;
}
.you {
  font-weight: 600;
  font-size: 40px;
  color: orange;
}
h2 {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
h3 {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
input {
  display: block;
  width: 50%;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
.sign-in {
  width: 40%;
  height: 30px;
  background-color: orange;
  border: orange 1px solid;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feature-grid {
    margin: 0;
  padding: 0;
}
.feature-row {
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  position: relative;
  bottom: 50px;
}

.download {
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 50px;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background: white;
   padding:10px;
}
#body {
  padding:10px;
  padding-bottom:420px;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background: orange;
   clear: both;
}
.title {
  font-weight: bold;
}
.emoji-footer {
  position: relative;
  bottom: 242px;
}
