
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    background-color: white;
    float: right;
}
li {
    float: left;
}
li a {
    display: block;
    color: orange;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.intro {
  height: 450px;
  display: inline-block;
  width: 100%;
  background-image: url("http://i.imgur.com/72ei0GL.jpg?1");
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 0;
}
.intro-copy {
  width: 40%;
  height: 450px;
    background-color: white;
      display: inline-block;
        margin-bottom: 0;
        padding-bottom: 0;
}
.intro-img {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.why {
  height: 400px;
  background-color: orange;
  display: inline-block;
  padding-top: 0;
    margin-top: 0;
  width: 100%;
  display: inline-block;
}
.why-copy {
  width: 33%;
  height: 400px;
    background-color: orange;
      display: inline-block;
}
.features {
  height: 300px;
  background-color: white;
  width: 100%;
  text-align: center;
}
img {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
input {
  display: block;
  width: 50%;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
.sign-in {
  width: 40%;
  height: 30px;
  background-color: orange;
  border: orange 1px solid;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feature-row {
  display: inline-block;
  color: orange;
  text-align: center;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.box {
  height: 200px;
  width: 200px;
}
.download-footer {
  display: inline-block;
  color: orange;
  text-align: center;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.box {
  height: 200px;
  width: 200px;
}
